.fleet
.idea

**/*/obj
bin
obj

pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

*.o
*.hi
*.exe

.vscode/
day-*/day*
!day-*/day*.hs

.DS_Store